<h1>Artists</h1>
<br>
<br>
<hr>
<br>
<h3>This page displays a list of all our current artists!</h3>
<p>Not enough artists for you? Make an account and add away!</p>
<br>
<hr>
<br>
<ul>
<% @artists.each do |artist| %>
  <li><p><%= link_to artist.name, artist_path(artist.id) %></p></li>
  <% end %>
</ul>
<br>
<br>
<br>
<%= link_to "Back", root_path, class: "btn btn-default" %>
