<h1><strong> Welcome to Codaisseurify, the world's greatest (and most original) online music service!</strong></h1>
<p>If you love the site, consider making an account!</p>

<br>
<br>

<p> Amongst our wondrous selection you can find:</p>
<section> <ul>
  <li> Artists and their newest albums </li>
  <li> The ability to create new listings for your favourite artists and songs </li>
  <ul>
    <br>

<h3> We hope you enjoy your visit! </h3>


    <br>
    <hr>
  <%= link_to "-  View all artists", artists_path %>
  </ul>
</section>

  <footer>
  </footer>
