<h1><strong> Welcome to Codaisseurify, the world's greatest (and most original) online music service!</strong></h1>
<p>Find me in app/views/pages/home.html.erb</p>

<p> Amongst our wondrous selection you can find:</p>
<section> <ul>
  <li> Artists and their newest albums </li>
  <li> Latest tour dates and setlists from the bands </li>
  <li> And of course, plenty of music for your listening pleasure! </li>


  <footer>
  </footer>
